@import './.././../index.sass'
    
.header_container
    position: relative
    height: 81rem
    width: 100%

.header_backround
    width: 100%    
    position: absolute
    z-index: 1

.header_menu
    padding: 2% 0% 7% 2%
    position: relative
    z-index: 2 
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100%
    width: 100%
    &__navbar
        color: var(--blue)
        display: flex
        align-items: center
        justify-content: space-between
        width: 73%
        color: var(--text-white)
        text-align: center
        cursor: pointer 
        &__logo
            display: flex
            justify-content: space-between
            align-items: center    
            width: 25%
            &__title
                font-family: 'Montserrat'
                font-style: normal
                font-weight: 700
                font-size: 4.6rem
                line-height: 5.6rem
                letter-spacing: -0.05em
                padding-right: 5%
                border-right: .7rem solid var(--text-white)    
                transition: all .2s
                &:hover
                    color: var(--orange)
                    border-right: .7rem solid var(--orange)
        &__name
            font-family: 'Montserrat'
            font-style: normal
            font-weight: 700
            font-size: 3.4rem
            line-height: 4.1rem
            letter-spacing: -0.05em     
            transition: all .2s
            &:hover
                color: var(--orange)   
                border-bottom: .7rem solid var(--orange)
    &_info
        align-self: center
        display: flex
        flex-direction: column
        align-items: center
        width: 80%
        &_title
            display: flex
            align-self: start
            align-items: center
            &_triangle-left
                @include style-triangle
            &_name
                font-family: 'Montserrat'
                font-style: normal
                font-weight: 700
                font-size: 4.5rem
                line-height: 5.5rem
                color: var(--orange)
        &_sub
            display: flex
            align-self: start
            justify-content: space-between
            width: 80%
            h3 
                font-family: 'Montserrat'
                font-style: normal
                font-weight: 900
                font-size: 5.8rem
                line-height: 7.1rem
                letter-spacing: -0.02em
                color: #E6E5E5    
            &_btn
                width: 15.7rem
                height: 6.3rem
                background: var(--orange)
                border-radius: .5rem     
                font-weight: 700
                border: none
                font-size: 2.5rem
                line-height: 3rem
                text-align: center
                color: var(--black) 


