.nav-container
    width: 100%
    display: flex
    justify-content: start
    align-items: center
    padding: 0 1% 0 1%

.nav-back
    z-index: 1
    position: relative
    width: 100%
    opacity: .8
    background-color: var(--text-white)

.nav-title
    z-index: 2
    font-weight: 700
    font-size: 3rem
    line-height: 3.7rem
    color: #000000

.nav-klub
    width: 60%
    justify-self: center
    display: flex
           


