.table-container
    position: relative
    width: 100%
    padding: 6%
    background-image: url('./../img/table.png')
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    display: flex
    justify-content: space-between
    @media( max-width: 500px )
        justify-content: center    
        
.mb-3
    position: relative
    top: 2rem
    background-color: var(--header-background)        
.table-title
    margin-top: -5%
    position: absolute
    z-index: 1
    display: flex
    justify-content: space-between
    width: 90%
    font-weight: 700
    font-size: 10.5rem
    line-height: 12.8rem
    text-align: center
    color: rgba(0, 0, 0, 0.41) 
    @media ( max-width: 930px)
        font-size: 60px
    @media ( max-width: 810px)
        font-size: 50px
    @media ( max-width: 730px)
        font-size: 40px
    @media ( max-width: 550px)
        font-size: 30px   
    @media ( max-width: 430px)
        font-size: 25px   
    @media ( max-width: 330px)
        font-size: 20px                 
        

.table-nav
    position: relative
    width: 30%  
    z-index: 2
    top: -2rem   
    display: flex
    flex-direction: column
    justify-content: start
    @media ( max-width: 1490px )
        width: 40%
    @media( max-width: 750px )
        width: 45%
    @media( max-width: 500px )
        width: 80%    
        top: 1rem    
        

.table-tablica
    position: relative
    z-index: 2
    width: 30%
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: space-between
    @media ( max-width: 990px )
        width: 40%
    @media( max-width: 750px )
        width: 45%
    @media ( max-width: 500px )
        display: none
    &_back
        padding: 0
        height: 100%
        z-index: 1
        position: absolute
        width: 100%
        opacity: .8
        background-color: white

.table-klubs
    position: relative
    width: 100%
    z-index: 2
    display: flex
    justify-content: space-around
    align-items: center
    h3
        font-weight: 700
        font-size: 3.5rem
        line-height: 4.3rem
        color: #000000
    &_position
        padding-right: 5%
        font-weight: 700
        font-size: 5rem
        line-height: 6.1rem
        text-align: center
        color: #000000
    &_score
        width: 30% 
        justify-self: end 
        font-weight: 700
        font-size: 5rem
        line-height: 6.1rem
        text-align: end
        color: #000000    
