* 
   margin: 0
   padding: 0
   box-sizing: border-box


html 
   font-size: 62.5%
   scroll-behavior: smooth


body 
   font-size: 1.6rem
   -webkit-font-smoothing: antialiased
   -moz-osx-font-smoothing: grayscale

:root 
   --text-white: #E5E5E5
   --color-pri: #0a083a
   --grey: #6c6b6b
   --pink: #ff3c78
   --green: #02be83
   --blue: #315bff
   --orange: #CC6200
 


