.sponsors
    &_container
        width: 100%
        display: flex
        flex-direction: column
        justify-content: start
        background-color: var(--text-white)
    &_title
        padding: 2%
        font-size: 10rem
        font-weight: 900
        text-align: center        